/* NAV */
#nav {
  font-size: 2em;
  text-align: center;
  margin: 50px auto;
  
  
}

#nav .nav-links {
  background-color: #2e35c0;
  border: 1px solid rgb(252, 252, 252);
  color: white;
  padding: 10px 27px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7em;
  cursor: pointer;
  border-radius: 10px;
  
}

#nav .nav-links:hover {
  background-color: #3c45fd;
}

/* HEADER */
h1.header {
  text-align: center;
  margin: 40px auto;
  font-size: 3.3em;
  font-weight: bold;
}

/* FORMS */
.form-wrapper {
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label{
  font-size: 1.4em;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.3em;
}

input[type="submit"] {
  width: 100%;
  background-color: #2e35c0;
  color: white;
  padding: 7px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2em;
}

input[type="submit"]:hover {
  background-color: #3c45fd;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  #nav .nav-links {
    margin: 5px 5px;
    padding: 10px 10px;
  }
}
